.mp-Profile_Online {
    overflow: hidden;
    text-overflow: ellipsis;

    &-social {
        display: flex;

        a {
            border: none;
        }
    }
}

.mp-Profile_WebLink {
	color: $color-black;
	border-bottom: 2px solid $color-ternary;
	transition: color .3s ease;

	&:hover {
		color: $color-ternary !important;
	}
}

.mp-Profile_Social {
    // border: none !important;
	background-image: url("../../images/icons/icon-facebook-k-24.svg");
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	margin-right: $spacing-unit-tiny;

	&-facebook {
		background-image: url("../../images/icons/icon-facebook-k-24.svg");

		&.mp-Profile_Social-off {
			background-image: url("../../images/icons/icon-facebook-g-24.svg");
		}
	}

	&-twitter {
		background-image: url("../../images/icons/icon-twitter-k-24.svg");

		&.mp-Profile_Social-off {
			background-image: url("../../images/icons/icon-twitter-g-24.svg");
		}
	}

	&-instagram {
		background-image: url("../../images/icons/icon-instagram-k-24.svg");

		&.mp-Profile_Social-off {
			background-image: url("../../images/icons/icon-instagram-g-24.svg");
		}
	}
}
