.mp-Profile_Member {
    margin: $spacing-unit-small 0;
    padding: $spacing-unit-small 0;
    position: relative;

    &::before,
    &::after {
        content: "";
        height: 1px;
        background: linear-gradient(90deg, $color-white 0%, $color-gray-300 50%, $color-white 100%);
        width: 100%;
        position: absolute;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.mp-Profile_MemberLogo {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-right: $spacing-unit;
}

// .mp-Profile_MemberLogoImg {}

.mp-Profile_MemberLogoCaption {
    padding-left: $spacing-unit-small;
}
