.mp-Modal {
    position: absolute;
    visibility: visible;
	width: 100%;
	height: 100%;
	z-index: $zindex-modal-mobile;
	left: 0;
	top: 0;
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
	transform: translateY(100%);

	@include mq(m) {
		position: absolute;
		left: 0;
        top: 0;
        bottom: 0;
		z-index: $zindex-modal-desktop;
		width: 380px;
        height: 100%;
        transform: translateX(-100%);
    }

    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
    }

    &[aria-hidden="false"] {
        opacity: 1;
    }
}

@import "mp-Modal_Layout";
@import "mp-Modal_Content";
@import "mp-Modal_Header";
@import "mp-Modal_Body";
@import "mp-Modal_Btn";
