// Options //
.mp-SearchBox_IconAdvanced {
	stroke: $color-form-label;
    transition: stroke 0.3s ease;
}

// Rechercher et Annuler //
.mp-SearchBox_IconSearch,
.mp-SearchBox_IconCancel {
	stroke: $color-form;
	transition: stroke 0.3s ease;
	width: 16px;
	height: 16px;
}

// .mp-SearchBox_IconCancel {}

// .mp-SearchBox_IconSearch {}
