// ========================================
// o-btn
// ========================================


.o-btn {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	background-color: transparent;
}
