.mp-SearchBox_Panel {
    padding: $spacing-unit-tiny / 2 $spacing-unit-tiny $spacing-unit-tiny / 2 $searchbox-padding-left;
    transition: height 0.3s ease, opacity 0.15s ease;

    &[aria-hidden="true"] {
        padding: 0 0 0 $spacing-unit-large;
        visibility: hidden;
        overflow: hidden;
        height: 0;
    }

    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
    }

    &[aria-busy="true"] {
        // padding: 0 0 0 $spacing-unit-large;
        position: relative;
        visibility: visible;
        overflow: hidden;
        height: 0;
        opacity: 0;
    }

    // &-fulltext {}

    // &-advanced {}
}
