.mp-Modal_BtnAction {
	display: flex;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-left: $spacing-unit;
	background-color: $color-white;

	svg {
		stroke-width: 1.5;
		stroke: $color-black;
		fill: $color-white;
		transition: .2s;

		circle {
			stroke-dashoffset: 0;
			transition-delay: .3s;
			display: block;
			transition: stroke-dashoffset .3s;
		}
	}
}
