.mp-OrgProfile_Informations {
    overflow: hidden;
	flex-grow: 1;
	@include font-size(14px, $modifier:-1);

	h2 {
		@include font-size(14px, $modifier:-1);

		&::before {
			content: "\002014";
			margin-right: 0.33rem;
			font-size: 1rem;
		}
	}

	p {
        margin-left: 1.33rem;
        overflow: hidden;
        text-overflow: ellipsis;
	}
}
