.mp-Modal_Content {
	display: flex;
	flex-direction: column;
	margin: $spacing-unit-small;
	// padding: $spacing-unit-small;
	overflow-y: auto;
	height: 458px
	// height: 100%;

	// &::after {
	// 	content: "";
	// 	display: block;
	// 	padding: 12px;
	// }
}
