.mp-Modal_BtnAction {
	display: block;
	margin: ($spacing-unit-small - 3px) auto 0;
	width: 100%;
	height: $spacing-unit;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		top: 8px;
		left: 50%;
		transform: translateX(-50%);
		content: "";
		display: block;
		height: $spacing-unit-tiny / 2;
		width: 36px;
		border-radius: 4px;
		background-color: $color-gray-600;
	}

	&::after {
		margin-top: $spacing-unit-tiny;
	}
}
