.spip-admin-float {
	display: flex;
	flex-direction: column;
	top: 0 !important;
	right: auto !important;
	bottom: auto !important;
	left: 0 !important;
	z-index: $zindex-spip-admin-float !important;
	width: 32px;
	transition: width 0.3s ease;
	overflow: hidden;

	&:hover {
		width: 146px;
	}

	.spip-admin-boutons {
		margin: 0.25rem 0 0;
		border-radius: 0;
		font-family: $font-monospace;
		@include inuit-font-size(10px);
		font-weight: normal;
		text-align: left;
		background-color:rgba(0, 81, 255);
	}
}
