.ct-ArticleResume {
    display: grid;
    grid-gap: $spacing-unit-small;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-top: $spacing-unit-large;

    &::after {
        content: "";
        height: 1px;
        grid-column: 1 / span 1;
        margin-top: $spacing-unit;
        background-color: rgba($color-black, 0.9);
    }

    @include mq(m) {
        grid-template-columns: repeat(12, minmax(0, 1fr));

        &::after {
            grid-column: 4 / span 1;
        }
    }
}

.ct-ArticleResume_Layout {
    &-date {
        grid-column: span 4;

        @include mq(m) {
            grid-column: span 3;
        }
    }

    &-body {
        position: relative;
        grid-column: span 4;

        @include mq(m) {
            grid-column: span 9;
        }

        @include mq(l) {
            grid-column: span 7;
        }
    }
}

// Contenu

.ct-ArticleResume_Date {
    margin-bottom: $spacing-unit-small;
    @include font-size(16px, $modifier: 2);
    color: rgba($color-black, 0.95);
}

.ct-ArticleResume_Titre {
    margin-bottom: $spacing-unit-small;
    font-weight: normal;
    color: $color-purple-600;
    @include font-size(20px);

    @include mq(m) {
        @include font-size(24px);
    }
}

.ct-ArticleResume_Desc {
    p {
        margin-bottom: 0;
    }
}

.ct-ArticleResume_Link {

    &-body {
        color: $color-purple-600;
        border-bottom: 2px solid transparent;
        padding-bottom: 2px;
        transition: color 0.3s ease, border-color 0.3s ease;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:hover {
            color: $color-black;
            border-color: $color-ternary;
        }
    }
}
