.mp-Panes {
	position: absolute;
	// width 100% ou fixe et calculée par js ?
	width: 100%;
	bottom: 0;
	z-index: $zindex-map + 1;
	// overflow: hidden;

	&.is-collapsed {
		// visibility: hidden;
		// pointer-events: none;
	}
}

.mp-Pane {
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 0;
	padding-top: $spacing-unit-tiny;
	background-color: $color-white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 0 4px rgba($color-black, 0.25);
	transform: translateY(100%);
	transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1), opacity .3s cubic-bezier(0.4, 0, 0.2, 1);

	.mp-Panes.is-visible & {
		position: static;
		height: 100%;
		opacity: 1;
		transform: translateY(0%);
	}
}

// Composants liés au module
@import "components/mp-Pane_Content";
@import "components/mp-Pane_Header";
@import "components/mp-Pane_Btn";
