.mp-OrgProfile {
	h1, h2 {
		margin: 0;
		text-transform: uppercase;
		color: $color-purple-700;
	}

	h2 {
		margin: $spacing-unit-small 0 $spacing-unit-tiny;
	}
}

.mp-OrgProfile_Tooltip {
	display: none;
}


@import "components/mp-OrgProfile_Header";
@import "components/mp-OrgProfile_Name";
@import "components/mp-OrgProfile_Address";
@import "components/mp-OrgProfile_Badge";
@import "components/mp-OrgProfile_Body";
@import "components/mp-OrgProfile_Informations";
@import "components/mp-OrgProfile_List";
@import "components/mp-OrgProfile_Online";
// SocialLink et WebLink sont réunis dans un seul fichier
@import "components/mp-OrgProfile_Link";
