// ========================================
// mp-SearchBox (map search box)
// ========================================
.mp-SearchBox {
	position: absolute;
	z-index: $zindex-map + 1;
	width: calc(100% - #{$spacing-unit});
	left: $spacing-unit-small;
	top: 0;
	margin-top: $spacing-unit-tiny;
	@include font-size(15px, $modifier: -1);
	background-color: $color-form-searchBox-bg;
	box-shadow: 0 4px 4px rgba($color-black, 0.25);
}

$btn-size: 24px;
$btn-options-size: 30px;
@import "components/mp-SearchBox_Fulltext";
@import "components/mp-SearchBox_Form";
@import "components/mp-SearchBox_GroupFulltext";
@import "components/mp-SearchBox_Input";
@import "components/mp-SearchBox_Btn";
@import "components/mp-SearchBox_Icon";
