.mp-Modal {
    position: absolute;
    visibility: visible;
	width: 100%;
	height: 100%;
	z-index: $zindex-modal-mobile;
	left: 0;
	top: 0;
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
	transform: translateY(100%);

	@include mq(m) {
		position: absolute;
		left: 0;
        top: 0;
        bottom: 0;
		z-index: $zindex-modal-desktop;
		width: 380px;
        height: 100%;
        transform: translateX(-100%);
    }

    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
    }

    &[aria-hidden="false"] {
        opacity: 1;
    }

    // &.is-opened,
    // &.is-opening {
    //     transform: translateY(60%);
    // }

    // &.is-closed,
    // &.is-closing {
    //     transform: translateY(100%);
    // }

    // &.is-opening,
    // &.is-closing {
    //     transition-property: transform;
    //     transition-duration: 1s;
    //     transition-timing-function: ease-in-out;
    // }
}

@import "components/mp-Modal_Layout";
@import "components/mp-Modal_Content";
@import "components/mp-Modal_Header";
@import "components/mp-Modal_Body";
@import "components/mp-Modal_Btn";

// TEST
#btnModal {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1000;
}
