// ========================================
// mp-SearchBox (map search box)
// ========================================
.mp-SearchBox {
	position: absolute;
	width: calc(100% - #{$spacing-unit});
	top: 0;
	left: $spacing-unit-small;

	// Annuler le z-index de jquery-ui
	&.ui-front {
		z-index: $zindex-searchbox;
	}

	@include mq(m) {
		width: 400px;
	}
}

.mp-SearchBox_Module {
	position: relative;
	z-index: $zindex-searchbox + 1;
	margin-top: $spacing-unit-tiny;
	@include font-size(15px, $modifier: -1);
	background-color: $color-form-searchBox-bg;
	box-shadow: 0 4px 4px rgba($color-black, 0.25);
}

@import "components/mp-SearchBox_Fulltext";
@import "components/mp-SearchBox_Panel";
@import "components/mp-SearchBox_Form";
@import "components/mp-SearchBox_Btn";
@import "components/mp-SearchBox_Icon";
