.mp-Keywords {
    position: relative;
    display: flex;
    @include font-size(13px, $modifier: -1);

    &::before,
    &::after {
        position: absolute;
        width: $spacing-unit-tiny;
        z-index: $zindex-searchbox + 1;
        flex: 0 0 auto;
        content: "";
        background-color: $color-white;
        top: 0;
        bottom: 0;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}

.mp-Keywords_List {
	list-style: none;
	margin: 0;
	padding: $spacing-unit-tiny 0;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	scroll-snap-type: x proximity;

	&::after {
		content: "";
		width: $spacing-unit-tiny;
		flex: 0 0 auto;
	}
}

.mp-Keywords_Item {
	display: flex;
    flex: 0 0 auto;
    align-items: center;
	margin-right: $spacing-unit-tiny;
	padding: $spacing-unit-tiny / 2;
	border-radius: 0.5em;
	background-color: $color-keyword-bg;
    color: $color-black;

    &:first-child {
        margin-left: $spacing-unit-tiny;
    }

    &:last-child {
        margin-right: 0;
    }
}

.mp-Keywords_Label {
	position: relative;
	padding-left: 18px;

	&::before {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		content: "";
		width: 16px;
		height: 16px;
		background-image: url("../../images/icons/autocomplete-marker@2x.png");
        background-repeat: no-repeat;
        background-size: cover;
	}

	&-city {
		&::before {
			background-position: -16px 0;
		}
	}

	&-activity {
		&::before {
		  background-position: -32px 0;
		}
	}

	&-org {
		&::before {
			background-position: 0 0;
		}
	}
}

.mp-Keywords_BtnDelete,
.mp-Keywords_BtnTooltip {
    display: flex;
    padding: $spacing-unit-small;
    border-radius: 100%;
    background-color: $color-keyword-delete-bg;
    margin-left: $spacing-unit-tiny;
    background-size: $spacing-unit-small;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 0 rgba($color-yellow-500, 0);

}

.mp-Keywords_BtnDelete {
	background-image: url("../../images/icons/icon-delete-32.svg");
    box-shadow: 0 0 0 0 rgba($color-yellow-500, 0);
    transform-origin: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

	&:hover {
        background-color: $color-orange-600;
        box-shadow: -1px -2px 3px 2px rgba($color-yellow-600, 1);
        transform: rotate(-180deg);
	}
}

.mp-Keywords_BtnTooltip {
    background-image: url("../../images/icons/icon-ellipsis-32.svg");
	background-size: 16px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 1px 2px 3px 2px rgba($color-yellow-600, 1);
    }
}
