.st-Footer {
    display: none;
    border-top: 1px solid rgba($color-gray-400, 0.4);
    padding-top: $spacing-unit-large;
    padding: $spacing-unit-large 0 $spacing-unit;
    color: $color-gray-800;
    transition: transform 0.5s ease 0.5s, opacity 0.5s ease 0.5s;

    a {
        color: $color-gray-800;
        border-bottom: 2px solid transparent;
	    transition: border .3s ease;

        &:hover {
            border-color: $color-ternary;
        }
    }

	.js & {
		transform: translateY(20%);
		opacity: 0;

		&.is-visible {
			opacity: 1;
			transform: none;
		}
	}

    @include mq(m) {
        display: block;
    }
}

// Grille
.st-Footer_Content {
    display: grid;

    @include mq(m) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-gap: $spacing-unit-small;
    }

    @include mq(l) {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: $spacing-unit-small;
    }
}

.st-Footer_About {
    &-name {
        grid-row: 1;

        @include mq(m) {
            grid-column: span 3;
        }

        @include mq(l) {
            grid-column: span 4;
        }
    }

    &-desc {
        grid-row: 2;

        @include mq(m) {
            grid-column: span 3;
        }

        @include mq(l) {
            grid-column: span 4;
        }
    }
}

.st-Footer_Nav {
    grid-row: 2;

    @include mq(m) {
        grid-column: 5;
    }

    @include mq(l) {
        grid-column: 7;
        justify-self: end;
    }
}

.st-Footer_NavSocial {
    grid-row: 2;

    @include mq(m) {
        grid-column: 6;
    }

    @include mq(l) {
        grid-column: 8;
        justify-self: end;
    }
}

.st-Footer_Credits {
    grid-row: 3;
    justify-self: end;
    @include font-size(14px);

    @include mq(m) {
        grid-column-end: span 6;
    }


    @include mq(l) {
        grid-column-end: span 8;
    }
}

// Contenu
.st-Footer_SiteName {
    @include font-size(18px);
    margin-bottom: 0;
}

.st-Footer_SiteDesc {
    margin-bottom: $spacing-unit-small;
}

.st-Footer_NavList,
.st-Footer_NavSocialList {
    list-style: none;
    margin: 0;
}

// .st-Footer_NavItem {}

// .st-Footer_NavSocialList {}
