// Inuitcss


// ATA
	//* Mediaqueries
	$mq-breakpoints: (
		"s": 320px,
		"m": 768px,
		"l": 1024px,
		"xl": 1200px,
		"mobileLandscape": 667px
	);

	//* fonts
	$font-ata: "Euclid Triangle", sans-serif;
	$font-monospace: monospace;

	//* logo sizes
	$logo-width-mobile: 85px;
	$logo-width-desktop: 117px;

	//* Hauteur du header //
	$headerHeight-mobile: 48px;
	$headerHeight-desktop: 60px;

	// Variables pour définir une mediaquery
	/// qui accompagne la hauteur du logo, de la navigation
	// et de l'espace disponible pour la carte.
	@use "sass:map"; // [1]
	$maxHeight: mq-px2em(map.get($mq-breakpoints, mobileLandscape)); // [2]
	// [1] @use map déclaration obligatoire pour sass dart
	// [2] mq-px2em : fonction de conversion px -> em de sass-mq

	//* nav
	$nav-line-height: 49px;

	//* Variables Hamburger //
	$hamburger-layer-width: 20px;
	$hamburger-layer-height: 3px;
    $hamburger-layer-spacing: 3px;

    //* Atlas
    $ui-width-large: 380px;

	//* searchbox
	$searchbox-btn-size: 24px;
	$searchbox-btn-size-mobile: 24px;
	$searchbox-btn-options-size: 24px;
	$searchbox-padding-left: $inuit-global-spacing-unit-tiny + $searchbox-btn-options-size + $inuit-global-spacing-unit-tiny;

	//* markercluster sizes
	$marker-size-xs: 34px;
	$marker-size-s: 44px;
	$marker-size-m: 54px;
	$marker-size-l: 64px;
	$marker-size-xl: 74px;
	$marker-size-xxl: 84px;

	//* z-index
	$zindex-spip-admin-float: 20;
	$zindex-header: 10;
	$zindex-map: 5;
	$zindex-searchbox-mobile: $zindex-map + 1;
	$zindex-searchbox-desktop: $zindex-map + 4;
	$zindex-modal-mobile: $zindex-map + 3;
    $zindex-modal-desktop: $zindex-map + 2;
